* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
}

.boardDiv {
  flex: 1;
}

table {
  border: 0px solid green;
  height: 100%;
  margin: auto;
  border-spacing: 10px;
}

td {
  border: 2px solid gray;
  min-width: 100px;
  text-align: center;
  user-select: none;
  transition: all 200ms;
}

td:hover {
  cursor: pointer;
  scale: 1.1;
}

.shipPlacementMouseOver {
  border: 2px solid #00b4ea;
}

.valid {
  border: 2px solid lightskyblue;
}

.invalid {
  border: 2px solid red;
}

.boardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.selectionText {
  font-size: 1.25em;
}

.selectionBtn {
  font-size: 1.5em;
  margin: 1em auto;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms;
}

.selectionBtn:hover {
  border: 2px solid #00b4ea;
  color: #00b4ea;
  scale: 1.2;
}

.selectionBtn:active {
  scale: 1.1;
}

.renderShipsDiv {
  font-size: 1.25em;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.shipsToChooseDiv {
  display: flex;
  margin-top: 1em;
}

.shipBtn {
  margin: 0 1em;
  padding: 0.5em 1em;
  border: 2px solid white;
  transition: all 100ms;
  border-radius: 10px;
  cursor: pointer;
}

.shipBtn:hover {
  color: #00b4ea;
  transform: translateY(-2px);
}

.shipBtn:active {
  transform: translateY(5px);
}

.shipLocationInput {
  color: white;
  min-width: 280px;
  border: 2px solid white;
  background-color: black;
  padding: 0.5em 1em;
  font-size: 1.125rem;
  border-radius: 10px;
  outline: none;
}

.inputDiv {
  display: flex;
  padding: 1em 1em;
  align-items: center;
}

.rotateBtn {
  margin-left: 1em;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: 1rem;
  transition:
    transform 250ms,
    color 100ms;
  cursor: pointer;
}

.rotateBtn:hover {
  color: #00b4ea;
  transform: rotate(-5deg);
}

.rotateBtn:active {
  transform: rotate(5deg);
}
