* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  text-align: center;
  padding: .5em;
  font-size: 2em;
}

.boardDiv {
  flex: 1;
}

table {
  border: 0px solid green;
  height: 100%;
  margin: auto;
  border-spacing: 10px;
}
 
td {
  border: 2px solid gray; 
  min-width: 100px;
  text-align: center;
  user-select: none;
  transition: all 200ms;
}

td:hover {
  cursor: pointer;
  border: 2px solid lightskyblue;
  scale: 1.1;
}

.boardDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.selectionText {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.selectionBtn {
  font-size: 1.5em;
  margin: 1em auto;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: .5em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms;
}

.selectionBtn:hover {
  border: 2px solid #00B4EA;
  color: #00B4EA;
  scale: 1.2;
}

.selectionBtn:active {
  scale: 1.1;
}

.renderShipsDiv {
  font-size: 1.25em;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.shipsToChooseDiv {
  display: flex;
  margin-top: 1em;
}

.shipBtn {
  margin: 0 1em;
  padding: .5em 1em;
  border: 2px solid white;
  transition: all 100ms;
  border-radius: 10px;
  cursor: pointer;
}

.shipBtn:hover {
  color: #00B4EA;
  transform: translateY(-2px);
}

.shipBtn:active {
  transform: translateY(5px);
}

.shipLocationInput {
  color: white;
  min-width: 280px;
  border: 2px solid white;
  background-color: black;
  padding: .5em 1em;
  margin-top: 1em;
  font-size: 1.125rem;
  border-radius: 10px;
  outline: none;
}
